body {
    background: radial-gradient(#fff, #ffd6d6);
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    margin-right: 20px;
}

.logo img {
    height: 70px;
    width: auto;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666666;
}

input[type="text"],
textarea,
input[type="number"] {
    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
}

input[type="submit"] {
    padding: 10px;
    width: 100%;
    color: white;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #008CBA;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}